:root {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}


@media (min-width: 600px) and (max-width: 1300px) {
.pie-container{
  justify-content: center;
}
}

@media (min-width: 300px) and (max-width: 600px) {
.form-chart{
  width: 100%;
}
}


.loader {
  margin-top: 50px; 
  overflow: hidden;
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  z-index: 100000;
}

.element {
  border-radius: 100%;
  border: 5px solid #555;
  margin: calc(5px * 2);
}

.element:nth-child(1) {
  animation: preloader 0.6s ease-in-out alternate infinite;
}
.element:nth-child(2) {
  animation: preloader 0.6s ease-in-out alternate 0.2s infinite;
}

.element:nth-child(3) {
  animation: preloader 0.6s ease-in-out alternate 0.4s infinite;
}

@keyframes preloader {
  100% {
    transform: scale(2);
  }
}
